    /*
    SCSS variables are information about icon's compiled state, stored under its original file name

    .icon-home {
    width: map-get($icon-home, 'width');
    }

    At the bottom of this section, we provide information about the spritesheet itself
    */

    $spritesheet: (
    width: 150px,
    height: 142px,
    image: '../img/common-sprite.png',
            cart-icon: (
            name: 'cart-icon',
            x: 62px,
            y: 25px,
            offset-x: -62px,
            offset-y: -25px,
            width: 45px,
            height: 37px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            left-semi-circle-arrow: (
            name: 'left-semi-circle-arrow',
            x: 32px,
            y: 70px,
            offset-x: -32px,
            offset-y: -70px,
            width: 30px,
            height: 60px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            main-logo: (
            name: 'main-logo',
            x: 0px,
            y: 0px,
            offset-x: 0px,
            offset-y: 0px,
            width: 60px,
            height: 68px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            master-card-icon: (
            name: 'master-card-icon',
            x: 109px,
            y: 25px,
            offset-x: -109px,
            offset-y: -25px,
            width: 37px,
            height: 23px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            minus-button-icon: (
            name: 'minus-button-icon',
            x: 119px,
            y: 50px,
            offset-x: -119px,
            offset-y: -50px,
            width: 8px,
            height: 2px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            p-pal-icon: (
            name: 'p-pal-icon',
            x: 64px,
            y: 70px,
            offset-x: -64px,
            offset-y: -70px,
            width: 57px,
            height: 16px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            plus-button-icon: (
            name: 'plus-button-icon',
            x: 109px,
            y: 50px,
            offset-x: -109px,
            offset-y: -50px,
            width: 8px,
            height: 8px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            right-semi-circle-arrow: (
            name: 'right-semi-circle-arrow',
            x: 0px,
            y: 70px,
            offset-x: 0px,
            offset-y: -70px,
            width: 30px,
            height: 60px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            robokasa-icon: (
            name: 'robokasa-icon',
            x: 0px,
            y: 132px,
            offset-x: 0px,
            offset-y: -132px,
            width: 89px,
            height: 10px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            sber-icon: (
            name: 'sber-icon',
            x: 64px,
            y: 104px,
            offset-x: -64px,
            offset-y: -104px,
            width: 21px,
            height: 20px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            search-icon-s16x16: (
            name: 'search-icon-s16x16',
            x: 123px,
            y: 70px,
            offset-x: -123px,
            offset-y: -70px,
            width: 16px,
            height: 16px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            visa-icon: (
            name: 'visa-icon',
            x: 64px,
            y: 88px,
            offset-x: -64px,
            offset-y: -88px,
            width: 42px,
            height: 14px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            web-money-icon: (
            name: 'web-money-icon',
            x: 62px,
            y: 0px,
            offset-x: -62px,
            offset-y: 0px,
            width: 88px,
            height: 23px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
            ya-money-icon: (
            name: 'ya-money-icon',
            x: 87px,
            y: 104px,
            offset-x: -87px,
            offset-y: -104px,
            width: 17px,
            height: 19px,
            total-width: 150px,
            total-height: 142px,
            image: '../img/common-sprite.png'
            ),
    );

