    /*
    SCSS variables are information about icon's compiled state, stored under its original file name

    .icon-home {
    width: map-get($icon-home, 'width');
    }

    At the bottom of this section, we provide information about the spritesheet itself
    */

    $spritesheet: (
    width: 124px,
    height: 107px,
    image: '../img/common-sprite.png',
            cart-icon: (
            name: 'cart-icon',
            x: 0px,
            y: 70px,
            offset-x: 0px,
            offset-y: -70px,
            width: 45px,
            height: 37px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            left-semi-circle-arrow: (
            name: 'left-semi-circle-arrow',
            x: 62px,
            y: 0px,
            offset-x: -62px,
            offset-y: 0px,
            width: 30px,
            height: 60px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            main-logo: (
            name: 'main-logo',
            x: 0px,
            y: 0px,
            offset-x: 0px,
            offset-y: 0px,
            width: 60px,
            height: 68px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            minus-button-icon: (
            name: 'minus-button-icon',
            x: 94px,
            y: 62px,
            offset-x: -94px,
            offset-y: -62px,
            width: 8px,
            height: 2px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            plus-button-icon: (
            name: 'plus-button-icon',
            x: 65px,
            y: 70px,
            offset-x: -65px,
            offset-y: -70px,
            width: 8px,
            height: 8px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            right-semi-circle-arrow: (
            name: 'right-semi-circle-arrow',
            x: 94px,
            y: 0px,
            offset-x: -94px,
            offset-y: 0px,
            width: 30px,
            height: 60px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
            search-icon-s16x16: (
            name: 'search-icon-s16x16',
            x: 47px,
            y: 70px,
            offset-x: -47px,
            offset-y: -70px,
            width: 16px,
            height: 16px,
            total-width: 124px,
            total-height: 107px,
            image: '../img/common-sprite.png'
            ),
    );

