doctype html
html
  head
    title Techshop
    meta charset="utf-8"
    meta name="keywords" content=""
    meta name="description" content=""
    -#meta name="viewport" content="width=1024"
    meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
    link rel="stylesheet" href="./css/main.css"
    -#link rel="icon" type="image/png" href="./favicon.ico"
    script src="./js/jquery.min.js"
    script src="./js/swiper.js"
    script src="./js/main.js"

  body
    header
      div.top-panel
        div.max-width-wrap.clearfix
          ul.left-side-links
            li
              a href='#' O магазине
            li
              a href='#' Доставка и оплата
            li
              a href='#' Гарантии
            li
              a href='#' Обмен и возврат
            li
              a href='#' Акции и спецпредложения
          div.right-col.authorize-block
            a.auth href='#' Вход
            span
            a.auth href='#' Регистрация

      div.top-main-block
        div.max-width-wrap.clearfix
          div.wrap-logo.col-3
            span.logotype
            span
              span.bold tech
              span shop
          form.search-bar.col-3
            input.search-field placeholder='Поиск'
            button.search-icon
          div.our-phone.col-3
            p.bold +7 (000) 000 00 00
            a.order-free-call href='#' Заказать обратный звонок
          div.cart-block.col-3
            span.cart-icon
            a.cart-link href='#' Корзина пуста

      div.max-width-wrap.clearfix
        ul.main-menu.clearfix
          li.main-link
            a href='#' телефоны и связь
          li.main-link
            a href='#' телевизоры
            ul.sub-menu
              li.sub-menu-link
                a href='#' LCD телевизоры
              li.sub-menu-link
                a href='#' 3D телевизоры
                ul.second-sub-menu
                  li.sub-menu-link
                    a href='#' LCD телевизоры
                  li.sub-menu-link
                    a href='#' 3D телевизоры
                  li.sub-menu-link
                    a href='#' Smart телевизоры
              li.sub-menu-link
                a href='#' Smart телевизоры
          li.main-link
            a href='#' компьютеры и ноутбуки
          li.main-link
            a href='#' техника для кухни
          li.main-link
            a href='#' бренды





